[mysqld]

# 3306 port to comunicate with wordpress container
port = 3306

# all ip address can connect with the service
bind_address=*

# directory that stocks the database
datadir = /var/lib/mysql

user = mysql

# setting the socket path
socket = /run/mysqld/mysqld.sock